.footer {
  &__title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__logo {
    width: 300px;
    height: 53px;
    overflow: hidden;
    margin-left: 162px;
    img {
      width: 100%;
    }
  }
  &__up-btn {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    &__text {
      color: #d3d3d3;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
    }
    &__label {
      width: 18px;
      height: 18px;
      margin-left: 5px;
      background-image: url("../images/up-btn-label.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
  &__description {
    background-color: #4d598d;
    height: 24px;
    width: 100%;
  }
}
