.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: "NotoSans";
  cursor: default;
}

.container {
  @media (min-width: 1200px) {
    width: 1000px;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.section-title {
  margin-top: 40px;
  color: black;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  span {
    font-weight: 700;
  }
}

.clearfix {
  zoom: 1;
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
