.header {
  &__mobile-menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 47px;
    display: none;
    @media (min-width: 240px) and (max-width: 1000px) {
      display: flex;
    }
  }
  &__mobile-menu-btn-text {
    color: #000;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 10px;
  }
  &__mobile-menu-btn-label {
    width: 30px;
    height: 30px;
    background-image: url("../images/mobile-menu-btn-label.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    &_active {
      background-image: url("../images/mobile-menu-close-btn-label.png");
    }
  }
  &__description {
    width: 100%;
    background-color: #f6f5f5;
    &__text {
      color: #34417c;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      margin: 5px 0;
    }
  }
  &__title {
    padding-top: 15px;
    margin-bottom: 5px;
  }
  &__title-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media (min-width: 240px) and (max-width: 1000px) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  &__phone-numbers {
    @media (min-width: 240px) and (max-width: 1000px) {
      display: none;
    }
  }
  &__contact-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
  }
  &__logo {
    width: 300px;
    height: 53px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-left: 83px;
    @media (min-width: 240px) and (max-width: 1000px) {
      height: auto;
      margin-left: 0;
      display: flex;
      align-self: center;
    }
    img {
      width: 100%;
    }
  }
  &__buttons {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  &__language {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    &__label {
      width: 15px;
      height: 15px;
      background-image: url("../images/language-label.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    &__text {
      color: black;
      font-size: 14px;
      line-height: 15px;
      text-transform: uppercase;
      margin-left: 5px;
    }
    &__arrow-down {
      width: 15px;
      height: 15px;
      background-image: url("../images/language-arrow-down.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &__get-call-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__label {
      width: 25px;
      height: 25px;
      margin-right: 1px;
      background-color: #4d598d;
      overflow: hidden;
    }
    &__text {
      background-color: #6d78a7;
      color: white;
      font-size: 12px;
      line-height: 25px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 0 10px;
    }
  }
  &__logo-description {
    background: linear-gradient(90deg, #34417c 50%, #6d78a7 50%);
    height: 24px;
    &__container {
      display: flex;
      justify-content: center;
      @media (min-width: 240px) and (max-width: 1000px) {
        overflow: hidden;
      }
    }
    img {
      margin-left: -80px;
      @media (min-width: 240px) and (max-width: 1000px) {
        margin: 0;
      }
    }
  }
  &__menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (min-width: 240px) and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
    &__buttons {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      @media (min-width: 240px) and (max-width: 1000px) {
        width: 100%;
      }
    }
    .menu-item-has-children {
      position: relative;
      &:hover .sub-menu {
        display: block;
      }
      .sub-menu {
        display: none;
        position: absolute;
        background-color: transparent;
        z-index: 1;
        top: 100%;
      }
      li a {
        width: 315px;
        max-width: 315px;
        overflow: hidden;
        text-overflow: ellipsis;
        float: none;
        display: block;
        font-size: 14px;
        color: white;
        line-height: 21px;
        padding: 0 5px;
        margin: 1px 0;
        background-color: #4d598d;
        text-transform: none;
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      @media (min-width: 240px) and (max-width: 1000px) {
        flex-direction: column;
        width: 100%;
        display: none;
      }
    }
    li {
      display: flex;
      align-items: flex-end;
      @media (min-width: 240px) and (max-width: 1000px) {
        justify-content: center;
      }
      &:hover {
        background-color: #34417c;
        a {
          color: white;
        }
        li:hover {
          background: transparent;
        }
      }
    }
    .current-menu-item,
    .current-menu-parent {
      background-color: #34417c;
      a {
        color: white;
      }
    }
    a {
      margin-top: 1px;
      padding: 30px 8px 8px;
      color: black;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      @media (min-width: 240px) and (max-width: 1000px) {
        padding: 15px;
      }
    }
    &__basket {
      display: flex;
      align-items: flex-end;
      margin-right: 25px;
      a {
        height: 100%;
        padding: 30px 10px 8px;
        color: #34417c;
        display: flex;
        flex-direction: row;
        @media (min-width: 240px) and (max-width: 1000px) {
          padding: 15px 10px 8px;
        }
        &:hover {
          background-color: #34417c;
          color: white;
        }
      }
      &__label {
        width: 17px;
        height: 16px;
        background-image: url("../images/basket-label.png");
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 5px;
      }
    }
    &__search {
      display: flex;
      flex-direction: row;
      padding-bottom: 8px;
      &__submit {
        display: none;
      }
      &__text {
        width: 150px;
        height: 16px;
        max-width: 150px;
        max-height: 16px;
        border: none;
        color: black;
        font-size: 16px;
        &::placeholder {
          text-transform: uppercase;
          color: #c2c2c2;
          font-size: 16px;
        }
        &:focus {
          outline: none;
        }
      }
      &__label {
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-image: url("../images/search-label.png");
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 3px;
      }
    }
  }
  &__mobile-menu-active {
    display: flex !important;
  }
}
