.header {
  &__description {
    width: 100%;
    background-color: #f6f5f5;
    &__text {
      color: #34417c;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      margin: 5px 0;
    }
  }
  &__title {
    padding-top: 15px;
    margin-bottom: 5px;
  }
  &__title-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__contact-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
  }
  &__logo {
    width: 300px;
    height: 53px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  &__buttons {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  &__language {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    &__label {
      width: 15px;
      height: 15px;
      background-image: url("../images/language-label.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    &__text {
      color: black;
      font-size: 14px;
      line-height: 15px;
      text-transform: uppercase;
      margin-left: 5px;
    }
    &__arrow-down {
      width: 15px;
      height: 15px;
      background-image: url("../images/language-arrow-down.png");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &__get-call-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    &__label {
      width: 25px;
      height: 25px;
      margin-right: 1px;
      background-color: #4d598d;
      overflow: hidden;
    }
    &__text {
      background-color: #6d78a7;
      color: white;
      font-size: 12px;
      line-height: 25px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 0 10px;
    }
  }
  &__logo-description {
    background: linear-gradient(90deg, #34417c 50%, #6d78a7 50%);
    height: 24px;
    &__container {
      display: flex;
      justify-content: center;
    }
    img {
      margin-left: -80px;
    }
  }
  &__menu {
    &__dropdown {
      overflow: hidden;
      &:hover .dropdown-content {
        display: block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: transparent;
        z-index: 1;
        margin-top: 133px;
      }
      .dropdown-link {
        width: 315px;
        max-width: 315px;
        overflow: hidden;
        text-overflow: ellipsis;
        float: none;
        display: block;
        font-size: 14px;
        color: white;
        line-height: 21px;
        padding: 0 5px;
        margin: 1px 0;
        background-color: #4d598d;
        text-transform: none;
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
    }
    li {
      display: flex;
      align-items: flex-end;
    }
    .active {
      background-color: #34417c;
      color: white;
    }
    a {
      margin-top: 1px;
      padding: 30px 8px 7px;
      color: black;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      &:hover {
        background-color: #34417c;
        color: white;
      }
    }
    &__basket {
      padding: 7px 35px;
      a {
        padding: 0;
        color: #34417c;
        display: flex;
        flex-direction: row;
        &:hover {
          background-color: transparent;
          color: #34417c;
        }
      }
      &__label {
        width: 17px;
        height: 16px;
        background-image: url("../images/basket-label.png");
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 5px;
      }
    }
    &__search {
      display: flex;
      flex-direction: row;
      padding-bottom: 8px;
      input {
        width: 150px;
        height: 16px;
        max-width: 150px;
        max-height: 16px;
        border: none;
        color: black;
        font-size: 16px;
        &::placeholder {
          text-transform: uppercase;
          color: #c2c2c2;
          font-size: 16px;
        }
        &:focus {
          outline: none;
        }
      }
      &__label {
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-image: url("../images/search-label.png");
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 3px;
      }
    }
  }
}
