$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "global.scss";
@import "fonts.scss";
@import "header.scss";
@import "footer.scss";
@import "components/products.scss";
@import "components/news.scss";
@import "components/contacts.scss";
