.category-item {
    &__title {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__download-btn {
        display: flex;
        &__text {
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 20px;
            background-color: #596388;
            padding: 5px 10px 5px 23px;
            font-weight: 700;
        }
        &__label {
            width: 55px;
            background-color: #404d7d;
            background-image: url("../images/download-btn-label.png");
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    &__thumbnail {
        margin-top: 20px;
        width: 100%;
        height: 115px;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
            width: 100%;
        }
    }
    &__content {
        margin-top: 15px;
        &__text {
            color: black;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            margin-bottom: 20px;
            word-break: break-all;
            &_strong {
                font-weight: 700;
            }
        }
    }
    &__product-type {
        display: flex;
        cursor: pointer;
        margin-top: 5px;
        &__thumbnail {
            height: 75px;
            width: 80px;
            overflow: hidden;
            display: flex;
            align-items: center;
            img {
                height: 100%;
            }
        }
        &__name {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: #737b9d;
            width: 100%;
            height: 75px;
            &_active {
                background-color: #adb4d4;
            }
            &__text {
                color: white;
                font-size: 30px;
                line-height: 36px;
                margin-left: 25px;
            }
            &__label {
                width: 75px;
                height: 75px;
                background-image: url("../images/product-type-label-plus.png");
                background-repeat: no-repeat;
                background-position: center;
                &_active {
                    background-image: url("../images/product-type-label-minus.png");
                }
            }
        }
    }
    &__type-items {
        width: 100%;
        margin-top: 0px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        &_active {
            animation: fadein 0.3s linear;
            max-height: none;
        }
        &__item {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 3px;
            &__buy-btn {
                width: 100%;
                height: 100%;
                color: white;
                cursor: pointer;
                font-size: 12px;
                line-height: 36px;
                font-weight: 700;
                background-color: #8db421;
                text-transform: uppercase;
                text-align: center;
                &_reserve {
                    background-color: #dd9d30;
                }
            }
            &__col {
                background-color: #eeeeee;
                height: 36px;
                margin-right: 3px;
                padding: 0 10px;
                max-height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                line-height: 36px;
                color: black;
                &_header {
                    background-color: #bfbfbf;
                    text-align: center;
                    padding: 0 !important;
                }
                &_number {
                    width: 70px;
                    max-width: 70px;
                    padding-left: 15px;
                }
                &_name {
                    width: 390px;
                    max-width: 390px;
                }
                &_weight {
                    width: 105px;
                    max-width: 105px;
                }
                &_units {
                    width: 80px;
                    max-width: 80px;
                }
                &_length {
                    width: 80px;
                    max-width: 80px;
                }
                &_price {
                    width: 120px;
                    max-width: 120px;
                }
                &_buy {
                    width: 120px;
                    max-width: 120px;
                    padding: 0;
                    margin-right: 0;
                }
            }
        }
    }
}