.page-services {
    &__item {
        padding: 5px 0;
        margin: 11px 0;
        &__thumbnail {
            width: 100%;
            height: 165px;
            overflow: hidden;
            margin: 0;
            display: flex;
            align-items: center;
            img {
                width: 100%;
            }
        }
        &__title {
            color: #34417c;
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            max-height: 72px;
            min-height: 72px;
            overflow: hidden;
            margin-bottom: 10px;
        }
        &__text {
            margin-top: 10px;
            color: black;
            font-size: 12px;
            line-height: 16px;
            min-height: 88px;
            overflow: hidden;
            word-break: break-all;
        }
    }
}